//= require angular-bootstrap/ui-bootstrap-csp
//= require bootstrap-sass/assets/stylesheets/_bootstrap
//= require textAngular/dist/textAngular

@import "vendor/swal"
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,100)

body 
  font-family: 'Roboto', sans-serif

h1, h2, h3, h4, h5
  font-weight: 700

.navbar
  margin-bottom: 0

.landing
  min-height: 600px
  display: flex
  justify-content: space-around
  align-items: center

  .jumbotron
    background: none
    align-self: center
    margin: auto

    input.search
      background: transparent

    h1 
      font-weight: 700
      font-size: 50px
      color: white

.backdrop
  [ng-transclude]
    background: rgba(1, 1, 1, 0.65)


.offices
  margin-top: 20px
  margin-bottom: 40px

  h4
    margin-top: 30px

  ul
    padding-left: 10px
    list-style: none

.footer
  background: #f1f1f1
