common: &common
  adapter: postgresql
  template: template0
  username: postgres
  password: chung555
  pool: 5
development:
  <<: *common
  database: faq_development
test:
  <<: *common
  database: faq_test
