<!DOCTYPE html>
  <head>
    <title>FaqGov</title>
    <base href="/" />

    <meta name="robots" content="noindex">
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="text/html;charset=UTF-8" http-equiv="content-type" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css" rel="stylesheet" />

    <%= stylesheet_link_tag    "app" %>

    <%= javascript_include_tag "app" %>

  </head>
  <body ng-app="client">
    <navbar></navbar>
    <div ui-view=""></div>
  </body>
</html>
